<div class="row">
    <div class="col-lg-4 col-md-4">
        <span>User Name</span>
        <input class="form-control" type="text" style="width: 80%;" name="user-name" [(ngModel)]='name'>&nbsp;
    </div>
</div>
<div class="row">
    &emsp;
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label *ngFor="let r of roles" class="btn btn-primary" 
        [ngClass]="{'active' : role == r.code}">
            <input type="radio" (click)="setRole(r.code)" name="roles"> {{ r.view }}
        </label>
        <div class="col-lg-4 col-md-4">
            <button (click)="login()" class="btn btn-danger">Proceed...</button>
        </div>
    </div>
</div>