<div class="row">
  <div class="input-group col-12">
    <span style='margin-top: 6px;'> choose a different team : </span>
    <span *ngFor='let team of teams'>
      &emsp;
      <button (click)='setTeam(team)' class="btn btn-success" type="button" *ngIf="team === selectedTeam ; else unselectedTeams">
        {{team}}
      </button>
      <ng-template #unselectedTeams>
        <button (click)='setTeam(team)' class="btn btn-primary" type="button">
          {{team}}
        </button>
      </ng-template>
      <!--<span class="badge badge-light">7</span>-->
    </span>
    <span style='margin-top: 6px;' *ngIf="teams.length === 0">
      &nbsp;
      <b>no team available</b>
    </span>
  </div>
</div>