<div class="row">
  <div class="col-lg-4 col-md-4">
    <h2>What Went Good</h2>
    <input type="text" style="width: 80%;" name="good-content" [(ngModel)]='goodContent'>
    <button (click)='addContent("good")'>Add</button>
  </div>
  <div class="col-lg-4 col-md-4">
    <h2>What Went Bad</h2>
    <input type="text" style="width: 80%;" name="bad-content" [(ngModel)]='badContent' >
    <button (click)='addContent("bad")'>Add</button>
  </div>
  <div class="col-lg-4 col-md-4">
    <h2>Happiness Score</h2>
    <input type="text" style="width: 80%;" name="happy-content" [(ngModel)]='happyContent'>
    <button (click)='addContent("happiness")'>Add</button>
  </div>
</div>
<div class="row">
    <button (click)='getall()'>Get All</button>
</div>
<retro-sticky [igood]='good' [ibad]='bad' [ihappiness]='happiness'></retro-sticky>